<nav ng-controller="Datos" class="uk-navbar">
    <ul class="uk-navbar-nav">
        <li><a href="#/"><i class="uk-icon-small uk-icon-book"></i>{{Inicio}}</a></li>
        <li><a href="#/PerfilProfesor">Perfil</a></li>
        <li><a href="#/">Salir</a></li>
    </ul>
</nav>
<div class="uk-panel-space">
</div>
<div class="Añadir">
    <div class="uk-grid">
        <div class="uk-width-1-10">
        </div>
        <div class="uk-width-8-10">
            <form id="test" name="test" class="uk-panel-box uk-align-center">
                <div class="uk-width-1-1 ">
                    <div class="uk-text-left">
                        <h2>Agregar Contenido</h2>
                    </div>
                    <div class="uk-form-row">
                        <select id="unidad" name="unidad" class="uk-width-6-10 uk-form-large">
                            <option value="">Seleccione Unidad</option>
                            <option value="Unidad1">Unidad I</option>
                            <option value="Unidad2">Unidad II</option>
                            <option value="Unidad3">Unidad III</option>
                            <option value="Unidad4">Unidad IV</option>
                            <option value="Unidad5">Unidad V</option>
                        </select>
                        <a class="uk-width-3-10 uk-align-right uk-button uk-button-primary uk-button-large"
                           onclick="elegirUnidad()">Seleccionar</a>
                    </div>

                    <div ng-controller="MostrarUnidad1">
                        <select id="subUnidad1" name="subUnidad1" class="subUnidad1 uk-width-1-1 uk-form-large">
                            <option value="">Seleccione SubUnidad</option>
                            <option ng-repeat="lista in listas" value="{{lista.Titulo}}">
                                {{lista.Titulo}}
                            </option>
                        </select>
                    </div>

                    <div ng-controller="MostrarUnidad2">
                        <select id="subUnidad2" name="subUnidad2" class=" subUnidad2 uk-width-1-1 uk-form-large">
                            <option value="">Seleccione SubUnidad</option>
                            <option ng-repeat="lista in listas" value="{{lista.Titulo}}">
                                {{lista.Titulo}}
                            </option>
                        </select>
                    </div>

                    <div ng-controller="MostrarUnidad3">
                        <select id="subUnidad3" name="subUnidad3" class="subUnidad3 uk-width-1-1 uk-form-large">
                            <option value="">Seleccione SubUnidad</option>
                            <option ng-repeat="lista in listas" value="{{lista.Titulo}}">
                                {{lista.Titulo}}
                            </option>
                        </select>
                    </div>

                    <div ng-controller="MostrarUnidad4">
                        <select id="subUnidad4" name="subUnidad4" class="subUnidad4 uk-width-1-1 uk-form-large">
                            <option value="">Seleccione SubUnidad</option>
                            <option ng-repeat="lista in listas" value="{{lista.Titulo}}">
                                {{lista.Titulo}}
                            </option>
                        </select>
                    </div>

                    <div ng-controller="MostrarUnidad5">
                        <select id="subUnidad5" name="subUnidad5" class="subUnidad5 uk-width-1-1 uk-form-large">
                            <option value="">Seleccione SubUnidad</option>
                            <option ng-repeat="lista in listas" value="{{lista.Titulo}}">
                                {{lista.Titulo}}
                            </option>
                        </select>
                    </div>

                    <div class="uk-panel-space">
                    </div>

                    <div class=" uk-align-center">
                        <a class="TipoDatos uk-width-1-10 uk-button uk-button-primary uk-button-large"
                           onclick="mostrarContenidoEspecifico(1)">Texto</a>
                        <a class="TipoDatos uk-width-1-10 uk-button uk-button-primary uk-button-large"
                           onclick="mostrarContenidoEspecifico(2)">Imágen</a>
                        <a class="TipoDatos uk-width-1-10  uk-button uk-button-primary uk-button-large"
                           onclick="mostrarContenidoEspecifico(3)">Video</a>
                        <a class="TipoDatos uk-width-1-10  uk-button uk-button-primary uk-button-large"
                           onclick="mostrarContenidoEspecifico(4)">GIF</a>
                    </div>

                    <div class="uk-form-row">
                        <input class="Titulo uk-width-1-1 uk-form-large" type="text" placeholder="Titulo"
                               ng-model="nombre">
                        <h3></h3>
                        <input class="Contenido uk-width-1-1 uk-form-large" type="text" placeholder="Contenido"
                               ng-model="nombre">

                        <input class="Imagen uk-width-1-1 uk-form-large" type="text" placeholder="Link Imagen"
                               ng-model="nombre">

                        <input class="Video uk-width-1-1 uk-form-large" type="text" placeholder="Link Video"
                               ng-model="nombre">

                        <input class="GIF uk-width-1-1 uk-form-large" type="text" placeholder="Link GIF"
                               ng-model="nombre">
                    </div>
                    <div class="uk-panel-space">
                    </div>
                    <div class="TipoPersona uk-form uk-align-center">
                        <fieldset data-uk-margin>
                            <input type="checkbox" name="action" id="track" value="track"/><label
                                for="track">Adaptador</label>
                            <input type="checkbox" name="action" id="event" value="event"/><label
                                for="event">Divergente</label>
                            <input type="checkbox" name="action" id="message" value="message"/><label for="message">Convergente</label>
                            <input type="checkbox" name="action" id="event" value="event"/><label
                                for="event">Asimilador</label>
                        </fieldset>
                    </div>
                    <div class="uk-panel-space">
                    </div>
                    <div>
                        <div class="uk-width-7-10">
                        </div>
                        <a class="uk-width-3-10 uk-align-center uk-button uk-button-primary uk-button-large"
                           onclick="">Seleccionar</a>
                    </div>

                </div>
            </form>
        </div>
        <div class="uk-width-1-10">
        </div>
    </div>
</div>


<div class="uk-panel-space">
</div>
<div class="uk-panel-space">
</div>

<script>
    function elegirUnidad() {
        var selectBox = document.getElementById("unidad");
        var selected = selectBox.options[selectBox.selectedIndex].value;
        if (selected == 'Unidad1') {
            $('.Titulo').show();
            $('.Contenido').show();
            $('.Imagen').hide();
            $('.Video').hide();
            $('.GIF').hide();
            $('.TipoPersona').show();
            $('.TipoDatos').show();
            $('.subUnidad1').show();
            $('.subUnidad2').hide();
            $('.subUnidad3').hide();
            $('.subUnidad4').hide();
            $('.subUnidad5').hide();


        }
        else if (selected == 'Unidad2') {
            $('.Titulo').show();
            $('.Contenido').show();
            $('.Imagen').hide();
            $('.Video').hide();
            $('.GIF').hide();
            $('.TipoPersona').show();
            $('.TipoDatos').show();
            $('.subUnidad1').hide();
            $('.subUnidad2').show();
            $('.subUnidad3').hide();
            $('.subUnidad4').hide();
            $('.subUnidad5').hide();

        }
        else if (selected == 'Unidad3') {
            $('.Titulo').show();
            $('.Contenido').show();
            $('.Imagen').hide();
            $('.Video').hide();
            $('.GIF').hide();
            $('.TipoPersona').show();
            $('.TipoDatos').show();
            $('.subUnidad1').hide();
            $('.subUnidad2').hide();
            $('.subUnidad3').show();
            $('.subUnidad4').hide();
            $('.subUnidad5').hide();

        }
        else if (selected == 'Unidad4') {
            $('.Titulo').show();
            $('.Contenido').show();
            $('.Imagen').hide();
            $('.Video').hide();
            $('.GIF').hide();
            $('.TipoPersona').show();
            $('.TipoDatos').show();
            $('.subUnidad1').hide();
            $('.subUnidad2').hide();
            $('.subUnidad3').hide();
            $('.subUnidad4').show();
            $('.subUnidad5').hide();

        }
        else if (selected == 'Unidad5') {
            $('.Titulo').show();
            $('.Contenido').show();
            $('.Imagen').hide();
            $('.Video').hide();
            $('.GIF').hide();
            $('.TipoPersona').show();
            $('.TipoDatos').show();
            $('.subUnidad1').hide();
            $('.subUnidad2').hide();
            $('.subUnidad3').hide();
            $('.subUnidad4').hide();
            $('.subUnidad5').show();

        }
        else {
            $('.Titulo').hide();
            $('.Contenido').hide();
            $('.Imagen').hide();
            $('.Video').hide();
            $('.GIF').hide();
            $('.TipoPersona').hide();
            $('.TipoDatos').hide();
            $('.subUnidad1').hide();
            $('.subUnidad2').hide();
            $('.subUnidad3').hide();
            $('.subUnidad4').hide();
            $('.subUnidad5').hide();


        }
    }
</script>

<script>
    function mostrarContenidoEspecifico(i) {
        if (i == 1) {
            $('.Titulo').show();
            $('.Contenido').show();
            $('.Imagen').hide();
            $('.Video').hide();
            $('.GIF').hide();
        }
        else if (i == 2) {
            $('.Titulo').show();
            $('.Contenido').hide();
            $('.Imagen').show();
            $('.Video').hide();
            $('.GIF').hide();
        }
        else if (i == 3) {
            $('.Titulo').show();
            $('.Contenido').hide();
            $('.Imagen').hide();
            $('.Video').show();
            $('.GIF').hide();
        }
        else if (i == 4) {
            $('.Titulo').show();
            $('.Contenido').hide();
            $('.Imagen').hide();
            $('.Video').hide();
            $('.GIF').show();
        }
    }
</script>