<nav ng-controller="Datos" class="uk-navbar">
    <ul class="uk-navbar-nav">
        <li><a href="#/"><i class="uk-icon-small uk-icon-book"></i>{{Inicio}}</a></li>
        <li><a href="#/PerfilProfesor">Perfil</a></li>
        <li><a href="#/">Salir</a></li>
    </ul>
</nav>
<div class="uk-panel-space">
</div>
<div class="Añadir">
    <div class="uk-grid">
        <div class="uk-width-1-10">
        </div>
        <div class="uk-width-8-10">
            <form id="test" name="test" class="uk-panel-box uk-align-center">
                <div class="uk-width-1-1 ">
                    <div class="uk-text-left">
                        <h2>Agregar Contenido</h2>
                    </div>
                    <div class="uk-form-row">
                        <select id="unidad" name="unidad" class="uk-width-6-10 uk-form-large">
                            <option value="">Seleccione Unidad</option>
                            <option value="Unidad1">Unidad I</option>
                            <option value="Unidad2">Unidad II</option>
                            <option value="Unidad3">Unidad III</option>
                            <option value="Unidad4">Unidad IV</option>
                            <option value="Unidad5">Unidad V</option>
                        </select>
                        <a class="uk-width-3-10 uk-align-right uk-button uk-button-primary uk-button-large"
                           onclick="elegirUnidad()">Seleccionar</a>
                    </div>

                    <div ng-controller="MostrarUnidad1" class="hide1" style="display: none">
                        <select id="subUnidad1" name="subUnidad1" class="subUnidad1 uk-width-1-1 uk-form-large">
                            <option value="0">Seleccione SubUnidad</option>
                            <option ng-repeat="lista in listas" value="{{lista.Titulo}}">
                                {{lista.Titulo}}
                            </option>
                        </select>
                    </div>

                    <div ng-controller="MostrarUnidad2" class="hide2" style="display: none">
                        <select id="subUnidad2" name="subUnidad2" class=" subUnidad2 uk-width-1-1 uk-form-large">
                            <option value="">Seleccione SubUnidad</option>
                            <option ng-repeat="lista in listas" value="{{lista.Titulo}}">
                                {{lista.Titulo}}
                            </option>
                        </select>
                    </div>

                    <div ng-controller="MostrarUnidad3" class="hide3" style="display: none">
                        <select id="subUnidad3" name="subUnidad3" class="subUnidad3 uk-width-1-1 uk-form-large">
                            <option value="">Seleccione SubUnidad</option>
                            <option ng-repeat="lista in listas" value="{{lista.Titulo}}">
                                {{lista.Titulo}}
                            </option>
                        </select>
                    </div>

                    <div ng-controller="MostrarUnidad4" class="hide4" style="display: none">
                        <select id="subUnidad4" name="subUnidad4" class="subUnidad4 uk-width-1-1 uk-form-large">
                            <option value="">Seleccione SubUnidad</option>
                            <option ng-repeat="lista in listas" value="{{lista.Titulo}}">
                                {{lista.Titulo}}
                            </option>
                        </select>
                    </div>

                    <div ng-controller="MostrarUnidad5" class="hide5" style="display: none">
                        <select id="subUnidad5" name="subUnidad5" class="subUnidad5 uk-width-1-1 uk-form-large">
                            <option value="">Seleccione SubUnidad</option>
                            <option ng-repeat="lista in listas" value="{{lista.Titulo}}">
                                {{lista.Titulo}}
                            </option>
                        </select>
                    </div>

                    <div  class="hide6 uk-panel-space" style="display: none">
                    </div>

                    <div class="hide6 uk-align-center"  style="display: none">
                        <a class="TipoDatos uk-width-1-10 uk-button uk-button-primary uk-button-large"
                           onclick="mostrarContenidoEspecifico(1)">Texto</a>
                        <a class="TipoDatos uk-width-1-10 uk-button uk-button-primary uk-button-large"
                           onclick="mostrarContenidoEspecifico(2)">Imágen</a>
                        <a class="TipoDatos uk-width-1-10  uk-button uk-button-primary uk-button-large"
                           onclick="mostrarContenidoEspecifico(3)">Video</a>
                        <a class="TipoDatos uk-width-1-10  uk-button uk-button-primary uk-button-large"
                           onclick="mostrarContenidoEspecifico(4)">GIF</a>
                    </div>

                    <div class="hide6 uk-form-row"  style="display: none">
                        <input class="Titulo uk-width-1-1 uk-form-large" type="text" placeholder="Titulo"
                               ng-model="nombre">
                        <h3></h3>
                        <input class="Contenido uk-width-1-1 uk-form-large" type="text" placeholder="Contenido"
                               ng-model="nombre">

                        <input class="Imagen uk-width-1-1 uk-form-large" type="text" placeholder="Link Imagen"
                               ng-model="nombre">

                        <input class="Video uk-width-1-1 uk-form-large" type="text" placeholder="Link Video"
                               ng-model="nombre">

                        <input class="GIF uk-width-1-1 uk-form-large" type="text" placeholder="Link GIF"
                               ng-model="nombre">
                    </div>
                    <div class="uk-panel-space">
                    </div>
                    <div class="hide6 TipoPersona uk-form uk-align-center"  style="display: none">
                        <fieldset data-uk-margin>
                            <input type="checkbox" name="action" id="Adaptador" value="1"/><label
                                for="Adaptador">Adaptador</label>
                            <input type="checkbox" name="action" id="Divergente" value="1"/><label
                                for="Divergente">Divergente</label>
                            <input type="checkbox" name="action" id="Convergente" value="1"/><label
                                for="Convergente">Convergente</label>
                            <input type="checkbox" name="action" id="Asimilador" value="1"/><label
                                for="Asimilador">Asimilador</label>
                        </fieldset>
                    </div>
                    <div class="hide6 uk-panel-space" style="display: none">
                    </div>
                    <div>
                        <div class="uk-width-7-10">
                        </div>
                        <a class="hide6 uk-width-3-10 uk-align-center uk-button uk-button-primary uk-button-large" style="display: none"
                           onclick="enviarInfo()">Seleccionar</a>
                    </div>

                </div>
            </form>
        </div>
        <div class="uk-width-1-10">
        </div>
    </div>
</div>
<p>Unidad</p><br>
<p id="mensajeUnidad"></p><br>
<p>SubUnidad</p><br>
<p id="mensajeSubUnidad"></p><br>
<p>Uno</p><br>
<p id="mensajeUno"></p><br>
<p>Dos</p><br>
<p id="mensajeDos"></p><br>
<p>Tres</p><br>
<p id="mensajeTres"></p><br>
<p>Cuatro</p><br>
<p id="mensajeCuatro"></p><br>
<p>Tipo</p><br>
<p id="mensajeTipo"></p><br>
<p>Titulo</p><br>
<p id="mensajeTitulo"></p><br>
<p>Contenido</p><br>
<p id="mensajeContenido"></p><br>

<div class="uk-panel-space">
</div>
<div class="uk-panel-space">
</div>

<script>
    function elegirUnidad() {
        var selectBox = document.getElementById("unidad");
        var selected = selectBox.options[selectBox.selectedIndex].value;
        if (selected == 'Unidad1') {
            $('.Titulo').show();
            $('.Contenido').show();
            $('.Imagen').hide();
            $('.Video').hide();
            $('.GIF').hide();
            $('.TipoPersona').show();
            $('.TipoDatos').show();
            $('.subUnidad1').show();
            $('.subUnidad2').hide();
            $('.subUnidad3').hide();
            $('.subUnidad4').hide();
            $('.subUnidad5').hide();
            $('.hide1').show();
            $('.hide6').show();
            document.getElementById("subUnidad2").selectedIndex = 0;
            document.getElementById("subUnidad3").selectedIndex = 0;
            document.getElementById("subUnidad4").selectedIndex = 0;
            document.getElementById("subUnidad5").selectedIndex = 0;

        }
        else if (selected == 'Unidad2') {
            $('.Titulo').show();
            $('.Contenido').show();
            $('.Imagen').hide();
            $('.Video').hide();
            $('.GIF').hide();
            $('.TipoPersona').show();
            $('.TipoDatos').show();
            $('.subUnidad1').hide();
            $('.subUnidad2').show();
            $('.subUnidad3').hide();
            $('.subUnidad4').hide();
            $('.subUnidad5').hide();
            $('.hide2').show();
            $('.hide6').show();
            document.getElementById("subUnidad1").selectedIndex = 0;
            document.getElementById("subUnidad3").selectedIndex = 0;
            document.getElementById("subUnidad4").selectedIndex = 0;
            document.getElementById("subUnidad5").selectedIndex = 0;

        }
        else if (selected == 'Unidad3') {
            $('.Titulo').show();
            $('.Contenido').show();
            $('.Imagen').hide();
            $('.Video').hide();
            $('.GIF').hide();
            $('.TipoPersona').show();
            $('.TipoDatos').show();
            $('.subUnidad1').hide();
            $('.subUnidad2').hide();
            $('.subUnidad3').show();
            $('.subUnidad4').hide();
            $('.subUnidad5').hide();
            $('.hide3').show();
            $('.hide6').show();
            document.getElementById("subUnidad1").selectedIndex = 0;
            document.getElementById("subUnidad2").selectedIndex = 0;
            document.getElementById("subUnidad4").selectedIndex = 0;
            document.getElementById("subUnidad5").selectedIndex = 0;

        }
        else if (selected == 'Unidad4') {
            $('.Titulo').show();
            $('.Contenido').show();
            $('.Imagen').hide();
            $('.Video').hide();
            $('.GIF').hide();
            $('.TipoPersona').show();
            $('.TipoDatos').show();
            $('.subUnidad1').hide();
            $('.subUnidad2').hide();
            $('.subUnidad3').hide();
            $('.subUnidad4').show();
            $('.subUnidad5').hide();
            $('.hide4').show();
            $('.hide6').show();
            document.getElementById("subUnidad1").selectedIndex = 0;
            document.getElementById("subUnidad2").selectedIndex = 0;
            document.getElementById("subUnidad3").selectedIndex = 0;
            document.getElementById("subUnidad5").selectedIndex = 0;

        }
        else if (selected == 'Unidad5') {
            $('.Titulo').show();
            $('.Contenido').show();
            $('.Imagen').hide();
            $('.Video').hide();
            $('.GIF').hide();
            $('.TipoPersona').show();
            $('.TipoDatos').show();
            $('.subUnidad1').hide();
            $('.subUnidad2').hide();
            $('.subUnidad3').hide();
            $('.subUnidad4').hide();
            $('.subUnidad5').show();
            $('.hide5').show();
            $('.hide6').show();
            document.getElementById("subUnidad1").selectedIndex = 0;
            document.getElementById("subUnidad2").selectedIndex = 0;
            document.getElementById("subUnidad3").selectedIndex = 0;
            document.getElementById("subUnidad4").selectedIndex = 0;

        }
        else {
            $('.Titulo').hide();
            $('.Contenido').hide();
            $('.Imagen').hide();
            $('.Video').hide();
            $('.GIF').hide();
            $('.TipoPersona').hide();
            $('.TipoDatos').hide();
            $('.subUnidad1').hide();
            $('.subUnidad2').hide();
            $('.subUnidad3').hide();
            $('.subUnidad4').hide();
            $('.subUnidad5').hide();
            $('.hide6').hide();
            document.getElementById("subUnidad1").selectedIndex = 0;
            document.getElementById("subUnidad2").selectedIndex = 0;
            document.getElementById("subUnidad3").selectedIndex = 0;
            document.getElementById("subUnidad4").selectedIndex = 0;
            document.getElementById("subUnidad5").selectedIndex = 0;
        }
    }
</script>

<script>
    var contenido;
    function mostrarContenidoEspecifico(i) {
        if (i == 1) {
            $('.Titulo').show();
            $('.Contenido').show();
            $('.Imagen').hide();
            $('.Video').hide();
            $('.GIF').hide();
            contenido=1;
            document.getElementById("mensaje").innerHTML = contenido;
        }
        else if (i == 2) {
            $('.Titulo').show();
            $('.Contenido').hide();
            $('.Imagen').show();
            $('.Video').hide();
            $('.GIF').hide();
            contenido=2;
            document.getElementById("mensaje").innerHTML = contenido;
        }
        else if (i == 3) {
            $('.Titulo').show();
            $('.Contenido').hide();
            $('.Imagen').hide();
            $('.Video').show();
            $('.GIF').hide();
            contenido=3;
            document.getElementById("mensaje").innerHTML = contenido;
        }
        else if (i == 4) {
            $('.Titulo').show();
            $('.Contenido').hide();
            $('.Imagen').hide();
            $('.Video').hide();
            $('.GIF').show();
            contenido=4;
            document.getElementById("mensaje").innerHTML = contenido;
        }
    }
</script>

<script>
    function enviarInfo() {
        var subUnidad1;
        var selectUnidad = document.getElementById("unidad");
        var selectedUnidad = selectUnidad.options[selectUnidad.selectedIndex].index;
        document.getElementById("mensajeUnidad").innerHTML = selectedUnidad;
        subUnidad1=selectedUnidad;

        if (subUnidad1==0){
            document.getElementById("mensajeSubUnidad").innerHTML = subUnidad1;
        }
        else{
            if(subUnidad1==1){
                var selectSubUnidad = document.getElementById("subUnidad1");
                var selectedSubUnidad = selectSubUnidad.options[selectSubUnidad.selectedIndex].index;
                document.getElementById("mensajeSubUnidad").innerHTML = selectedSubUnidad;
            }
            if(subUnidad1==2){
                var selectSubUnidad = document.getElementById("subUnidad2");
                var selectedSubUnidad = selectSubUnidad.options[selectSubUnidad.selectedIndex].index;
                document.getElementById("mensajeSubUnidad").innerHTML = selectedSubUnidad;
            }
            if(subUnidad1==3){
                var selectSubUnidad = document.getElementById("subUnidad3");
                var selectedSubUnidad = selectSubUnidad.options[selectSubUnidad.selectedIndex].index;
                document.getElementById("mensajeSubUnidad").innerHTML = selectedSubUnidad;
            }
            if(subUnidad1==4){
                var selectSubUnidad = document.getElementById("subUnidad4");
                var selectedSubUnidad = selectSubUnidad.options[selectSubUnidad.selectedIndex].index;
                document.getElementById("mensajeSubUnidad").innerHTML = selectedSubUnidad;
            }
            if(subUnidad1==5){
                var selectSubUnidad = document.getElementById("subUnidad5");
                var selectedSubUnidad = selectSubUnidad.options[selectSubUnidad.selectedIndex].index;
                document.getElementById("mensajeSubUnidad").innerHTML = selectedSubUnidad;
            }
        }

        var selectUno = document.getElementById("Adaptador");
        var selectedUno = selectUno.options[selectUno.selectedIndex].checked;
        document.getElementById("mensajeSubUnidad").innerHTML = selectedUno;

    }
</script>