<nav ng-controller="Datos" class="uk-navbar">
    <ul class="uk-navbar-nav">
        <li><a href="#/"><i class="uk-icon-small uk-icon-book"></i> {{Inicio}}</a></li>
        <li><a href="#/">Salir</a></li>
    </ul>
</nav>

<h1>Corriente y FEM</h1>
<div class="uk-panel-space">
</div>
<div class="uk-grid">
    <div class="uk-width-2-10">
        <div class="uk-width-1-1">
            <input type="button" class="uk-width-1-1 uk-button uk-button-primary" onclick="Todo()"
                   value="Todo">
        </div>
    </div>
    <div class="uk-width-2-10">
        <div class="uk-width-1-1">
            <input type="button" class="uk-width-1-1 uk-button uk-button-primary" onclick="Adaptador()"
                   value="Adaptador">
        </div>
    </div>
    <div class="uk-width-2-10">
        <div class="uk-width-1-1">
            <input  type="button" class="uk-width-1-1 uk-button uk-button-primary" onclick="Divergente()"
                   value="Divergente">
        </div>
    </div>
    <div class="uk-width-2-10">
        <div class="uk-width-1-1">
            <input  type="button" class="uk-width-1-1 uk-button uk-button-primary" onclick="Convergente()"
                   value="Convergente">
        </div>
    </div>
    <div class="uk-width-2-10">
        <div class="uk-width-1-1">
            <input type="button" class="uk-width-1-1 uk-button uk-button-primary" onclick="Asimilador()"
                   value="Asimilador">
        </div>
    </div>
</div>

<div class="uk-grid " ng-controller="InlineEditorController" ng-click="hideTooltip()">
    <div class="uk-width-1-3 ">
        <div class="Adaptador">
            <form class="uk-panel uk-panel-box uk-form">
                <h4>Adaptador</h4>
                <p id = "asd">"It is a period of civil war. Rebel spaceships, striking from a hidden base, have won their first victory against the evil Galactic Empire. During the battle, Rebel spies managed to steal secret plans to the Empire’s ultimate weapon, the DEATH STAR, an armored space station with enough power to destroy an entire planet.

                    Pursued by the Empire’s sinister agents, Princess Leia races home aboard her starship, custodian of the stolen plans that can save her people and restore freedom to the galaxy…." </p>
            </form>
            <div class="uk-panel-space">
            </div>
        </div>
        <div class="Divergente">
            <form class="uk-panel uk-panel-box uk-form">
                <h4>Divergente</h4>
                <p>"It is a dark time for the Rebellion. Although the Death Star has been destroyed, Imperial troops have driven the Rebel forces from their hidden base and pursued them across the galaxy.

                    Evading the dreaded Imperial Starfleet, a group of freedom fighters led by Luke Skywalker has established a new secret base on the remote ice world of Hoth.

                    The evil lord Darth Vader, obsessed with finding young Skywalker, has dispatched thousands of remote probes into the far reaches of space…." </p>
            </form>
            <div class="uk-panel-space">
            </div>
        </div>
        <div class="Convergente">
            <form class="uk-panel uk-panel-box uk-form">
                <h4>Convergente</h4>
                <p>Luke Skywalker has returned to his home planet of Tatooine
                    in an attempt to rescue his friend Han Solo from the clutches of the vile gangster Jabba the Hutt.
                        Little does Luke know that the GALACTIC EMPIRE has secretly begun construction on a new armored space station even more powerful than the first dreaded Death Star. When completed, this ultimate weapon will spell certain doom for the small band of rebels struggling to restore freedom to the galaxy...</p>
            </form>
            <div class="uk-panel-space">
            </div>
        </div>
        <div class="Asimilador">
            <form class="uk-panel uk-panel-box uk-form">
                <h4>Asimilador</h4>
                <p>Luke Skywalker has vanished.
                    In his absence, the sinister
                    FIRST ORDER has risen
                    from the ashes of the Empire
                    and will not rest until Skywalker, the last Jedi,
                    has been destroyed.

                    With the support of the REPUBLIC,
                    General Leia Organa leads a brave RESISTANCE.
                    She is desperate to find her
                    brother Luke and gain his
                    help in restoring peace and
                    justice to the galaxy.

                    Leia has sent her most daring
                    pilot on a secret mission
                    to Jakku, where an old ally
                    has discovered a clue to
                    Luke’s whereabouts . . . .</p>
            </form>
            <div class="uk-panel-space">
            </div>
        </div>
    </div>


    <div class="uk-width-1-3 ">
        <div class="Adaptador">
            <form class="uk-panel uk-panel-box uk-form">
                <h4>Adaptador</h4>
                <p> El Juego </p>
            </form>
            <div class="uk-panel-space">
            </div>
        </div>
        <div class="Divergente">
            <form class="uk-panel uk-panel-box uk-form">
                <h4>Divergente</h4>
                <p>"Turmoil has engulfed the Galactic Republic. The taxation of trade routes to outlying star systems is in dispute.

                    Hoping to resolve the matter with a blockade of deadly battleships, the greedy Trade Federation has stopped all shipping to the small planet of Naboo.

                    While the congress of the Republic endlessly debates this alarming chain of events, the Supreme Chancellor has secretly dispatched two Jedi Knights, the guardians of peace and justice in the galaxy, to settle the conflict...."</p>
            </form>
            <div class="uk-panel-space">
            </div>
        </div>
        <div class="Divergente Convergente">
            <form class="uk-panel uk-panel-box uk-form">
                <h4>Divergente y Convergente</h4>
                <p>War! The Republic is crumbling under attacks by the ruthless Sith Lord, Count Dooku. There are heroes on both sides. Evil is everywhere. In a stunning move, the fiendish droid leader, General Grievous, has swept into the Republic capital and kidnapped Chancellor Palpatine, leader of the Galactic Senate. As the Separatist Droid Army attempts to flee the besieged capital with their valuable hostage, two Jedi Knights lead a desperate mission to rescue the captive Chancellor....</p>
            </form>
            <div class="uk-panel-space">
            </div>
        </div>
        <div class="Adaptador Asimilador">
            <form class="uk-panel uk-panel-box uk-form">
                <h4>Adaptador y Asimilador</h4>
                <!--<p>"There is unrest in the Galactic Senate. Several thousand solar systems have declared their intentions to leave the Republic. This separatist movement, under the leadership of the mysterious Count Dooku, has made it difficult for the limited number of Jedi Knights to maintain peace and order in the galaxy. Senator Amidala, the former Queen of Naboo, is returning to the Galactic Senate to vote on the critical issue of creating an ARMY OF THE REPUBLIC to assist the overwhelmed Jedi...."
                </p>-->
                <!-- When this element is clicked, hide the tooltip -->
                <div id="main" ng-controller="InlineEditorController" ng-click="hideTooltip()" ng-init="value= 'It is a period of civil war. Rebel spaceships, striking from a hidden base, have won their first victory against the evil Galactic Empire. During the battle, Rebel spies managed to steal secret plans to the Empire’s ultimate weapon, the DEATH STAR, an armored space station with enough power to destroy an entire planet.

         Pursued by the Empire’s sinister agents, Princess Leia races home aboard her starship'">

                    <!-- This is the tooltip. It is shown only when the showtooltip variable is truthful -->
                    <div class="tooltip" ng-click="$event.stopPropagation()" ng-show="showtooltip">

                        <!-- ng-model binds the contents of the text field with the "value" model.
                         Any changes to the text field will automatically update the value, and
                         all other bindings on the page that depend on it.  -->
                        <textarea type="text" ng-model="value" ></textarea>
                    </div>

                    <!-- Call a method defined in the InlineEditorController that toggles
                     the showtooltip variable -->
                    <p ng-click="toggleTooltip($event)">{{value}}</p>

                </div>
            </form>
            <div class="uk-panel-space">
            </div>
        </div>
    </div>



    <div class="uk-width-1-3 ">
        <div class="Adaptador">
            <form class="uk-panel uk-panel-box uk-form">
                <h4>Adaptador</h4>
                <iframe style='height: 100%; width: 100%; object-fit: contain'  src="https://www.youtube.com/embed/ud3rYPxkj9E" frameborder="0" allowfullscreen></iframe>
            </form>
            <div class="uk-panel-space">
            </div>
        </div>
        <div class="Divergente">
            <form class="uk-panel uk-panel-box uk-form">
                <h4>Divergente</h4>
                <img  src="https://media.giphy.com/media/L4AQvif7x9fS8/giphy.gif">

            </form>
            <div class="uk-panel-space">
            </div>
        </div>
        <div class="Divergente Convergente">
            <form class="uk-panel uk-panel-box uk-form">
                <h4>Divergente y Convergente</h4>
                <img style='height: 100%; width: 100%; object-fit: contain'  src="https://k60.kn3.net/taringa/5/6/D/D/B/8/pedrokdna/CCD.png">
            </form>
            <div class="uk-panel-space">
            </div>
        </div>
        <div class="Convergente Asimilador">
            <form class="uk-panel uk-panel-box uk-form">
                <h4>Convergente y Asimilador</h4>
                <p> No man i’ll just talk about the Facebook movie all day man you have to be so interested in the things i have to say about the Facebook movie  dude i just watched it a year and a half ago fuck Jesse Eisenberg man he played over Spiderman crazy Winklevoss Twins rowing trent resin or did the soundtrack  this guy who invented Facebook i don’t like dying i can’t think of who the invented Facebook all i can think is the guy who played the guy who invented Facebook who invented Facebook</p>
            </form>
            <div class="uk-panel-space">
            </div>
        </div>
    </div>

</div>

<script>
    function Todo() {
        $('.Adaptador').show();
        $('.Divergente').show();
        $('.Convergente').show();
        $('.Asimilador').show();
    }
    function Adaptador() {
        $('.Divergente').hide();
        $('.Convergente').hide();
        $('.Asimilador').hide();
        $('.Adaptador').show();
    }
    function Divergente() {
        $('.Adaptador').hide();
        $('.Convergente').hide();
        $('.Asimilador').hide();
        $('.Divergente').show();
    }
    function Convergente() {
        $('.Adaptador').hide();
        $('.Divergente').hide();
        $('.Asimilador').hide();
        $('.Convergente').show();
    }
    function Asimilador() {
        $('.Adaptador').hide();
        $('.Divergente').hide();
        $('.Convergente').hide();
        $('.Asimilador').show();
    }

</script>