<nav class="uk-navbar">
    <ul class="uk-navbar-nav">
        <li><a href="#/"><i class="uk-icon-small uk-icon-book"></i>{{Inicio}}</a></li>
        <li><a href="#/PerfilProfesor">Perfil</a></li>
        <li><a href="#/">Salir</a></li>
    </ul>
</nav>
<h1>Editar Unidades</h1>
<div>
    <div class="uk-grid">
        <div class="uk-width-1-10">
        </div>
        <div class="uk-width-6-10">
            <div class="uk-flex-right">
                <div class="uk-align-center" style="width: 800px;">
                    <div class="uk-panel uk-panel-box ">
                        <div class="uk-text-left-medium uk-align-left">
                            <h1>FIS 120</h1>
                        </div>
                        <div class="uk-text-large uk-text-left-medium uk-align-left">
                            <ul>
                                <div ng-repeat="unidad in listas">
                                    <li>Unidad {{unidad.Numero}}
                                        <ul ng-repeat="subLista in unidad.SubUnidad">
                                            <u1><p> <a ng-click='mostrar(unidad.Numero,subLista.Numero,subLista.Titulo)'>{{subLista.Titulo}}</a>
                                                <div class="uk-align-right">
                                                    <button class=" uk-button uk-button-primary uk-button-small"
                                                            >Editar
                                                    </button>
                                                <button class="uk-align-right uk-button uk-button-primary uk-button-small"
                                                        ng-click="del(unidad.Numero,subLista.Numero)"
                                                >Eliminar
                                                    </button>
                                                </div>
                                                </p>
                                            </u1>
                                        </ul>
                                    </li>
                                </div>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="uk-width-2-10">
            <div class=" uk-text-center uk-height-1-1">
                <div class="uk-vertical-align-middle" style="width: 100%" >
                    <form class="uk-panel uk-panel-box uk-form">
                        <div class="uk-text-center">
                            <h2>Agregar SubUnidad</h2>
                        </div>
                        <div class="uk-form-row">
                            <select name="campus" class="uk-width-1-1 uk-form-large">
                                <option ng-repeat='unidad in listas' value="unidad.TextoParche">Unidad {{unidad.Numero}}</option>
                            </select>
                        </div>
                        <div class="uk-form-row">
                            <input class="uk-width-1-1 uk-form-large" type="text" placeholder="Título"
                                   >
                        </div>
                        <div class="uk-form-row">
                            <a class="uk-width-1-1 uk-button uk-button-primary uk-button-large" >Agregar</a>
                        </div>
                    </form>
                </div>
                <div class="uk-vertical-align-middle" style="width: 100%" >
                    <form class="uk-panel uk-panel-box uk-form">
                        <div class="uk-text-center">
                            <h2>Cambiar SubUnidad</h2>
                        </div>
                        <div class="uk-form-row">
                            <select name="campus" class="uk-width-1-1 uk-form-large">
                                <option ng-repeat="unidad in listas" value="unidad.TextoParche">Unidad {{unidad.Numero}}</option>
                            </select>
                        </div>
                        <div class="uk-form-row">
                            <input class="uk-width-1-1 uk-form-large" type="text" placeholder="Titulo"
                                   >
                        </div>
                        <h3></h3>
                        <div class="uk-form-row">
                            <select name="campus" class="uk-width-1-1 uk-form-large">
                                <option ng-repeat="unidad in listas" value="unidad.TextoParche">Unidad {{unidad.Numero}}</option>
                            </select>
                        </div>
                        <div class="uk-form-row">
                            <input class="uk-width-1-1 uk-form-large" type="text" placeholder="Titulo"
                                   >
                        </div>
                        <div class="uk-form-row">
                            <a class="uk-width-1-1 uk-button uk-button-primary uk-button-large">Cambiar</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="uk-width-1-10">
        </div>
    </div>

</div>