<nav class="uk-navbar">
    <ul class="uk-navbar-nav">
        <li><a href="#/"> <i class="uk-icon-small uk-icon-book"></i> ScrapBooks </a></li>
        <li><a href="#/Perfil">Perfil</a></li>
        <li><a href="#/">Salir</a></li>
    </ul>
</nav>

<h1>{{nombreSubUnidadActivo}}</h1>
<div class="uk-grid ">
    <div class="uk-width-1-3 ">
        <div ng-repeat="lista1 in lis1">
            <form class="uk-panel uk-panel-box uk-form">
                <h4>{{lista1.Titulo}}</h4>
                <div ng-bind-html="lista1.Contenido"></div>
            </form>
            <div class="uk-panel-space">
            </div>
        </div>
    </div>
    <div class="uk-width-1-3 ">
        <div ng-repeat="lista2 in lis2">
            <form class="uk-panel uk-panel-box uk-form">
                <h4>{{lista2.Titulo}}</h4>
                <div ng-bind-html="lista2.Contenido"></div>
            </form>
            <div class="uk-panel-space">
            </div>
        </div>
    </div>

    <div class="uk-width-1-3 ">
        <div ng-repeat="lista3 in lis3">
            <form class="uk-panel uk-panel-box uk-form">
                <h4>{{lista3.Titulo}}</h4>
                <div ng-bind-html="lista3.Contenido"></div>
            </form>
            <div class="uk-panel-space">
            </div>
        </div>
    </div>

</div>

