<nav class="uk-navbar">
    <ul class="uk-navbar-nav">
        <li><a href="#/"><i class="uk-icon-small uk-icon-book"></i>{{Inicio}}</a></li>
        <li><a href="#/PerfilAdmin">Perfil</a></li>
        <li><a href="#/">Salir</a></li>
    </ul>
</nav>
<div class="uk-grid">
    <div class="uk-width-3-4">
        <div class="uk-flex-right">
            <div class="uk-panel-space">
            </div>
            <div class="uk-align-center" style="width: 800px;">
                <div class="uk-panel uk-panel-box ">
                    <div class="uk-text-left-medium uk-align-left">
                        <h1>Cursos</h1>
                    </div>
                    <div class="uk-text-large uk-text-left-medium uk-align-left">
                        <ul>
                            <div ng-repeat="unidad in listas">
                                <div>
                                    <li>Unidad {{unidad.Numero}}
                                        <ul
                                                ng-repeat="subLista in unidad.SubUnidad">
                                            <u1>
                                                <a ng-click='mostrar(unidad.Numero,subLista.Numero,subLista.Titulo)'>{{subLista.Titulo}}</a>
                                            </u1>
                                        </ul>
                                    </li>
                                </div>
                                <div class="uk-panel-space">
                                </div>
                            </div>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="uk-width-1-4">
        <div class="uk-panel-space">
        </div>
        <div class="uk-align-center" style="width: 300px;">
            <div ng-controller="PerfilAdministrador"
                 class="uk-panel uk-panel-box uk-vertical-align-middle uk-text-center">
                <img class="uk-border-circle" width="120" height="120"
                     src="https://pbs.twimg.com/profile_images/539102307867451392/Xn_fE20q.jpeg"
                     alt="">
                <h5>Administrador</h5>
                <div class="uk-form-row">
                    <a class="uk-width-1-1 uk-button uk-button-primary uk-button-large" href="/#EliminarAlumno">Eliminar Alumno</a>
                    <div class="uk-panel-space">
                    </div>
                    <a class="uk-width-1-1 uk-button uk-button-primary uk-button-large" href="/#EditarProfesor">Editar
                        Profesor </a>
                    <div class="uk-panel-space">
                    </div>
                    <a class="uk-width-1-1 uk-button uk-button-primary uk-button-large" href="">Ver Feedback </a>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
