<nav class="uk-navbar">
    <ul class="uk-navbar-nav">
        <li><a href="#/"><i class="uk-icon-small uk-icon-book"></i>{{Inicio}}</a></li>
        <li><a href="#/Perfil">Perfil</a></li>
        <li><a href="#/">Salir</a></li>
    </ul>
</nav>
<div class="uk-grid">
    <div class="uk-width-3-4">
        <div class="uk-flex-right">
            <div class="uk-panel-space">
            </div>
            <div class="uk-align-center" style="width: 800px;">
                <div class="uk-panel uk-panel-box ">
                    <div class="uk-text-left-medium uk-align-left">
                        <h1>Cursos</h1>
                    </div>
                    <div class="uk-text-large uk-text-left-medium uk-align-left">
                        <ul>
                            <div ng-repeat="unidad in listas">
                                <div>
                                    <li>Unidad {{unidad.Numero}}
                                        <ul
                                                ng-repeat="subLista in unidad.SubUnidad">
                                            <u1>
                                                <a ng-click='mostrar(unidad.Numero,subLista.Numero)'>{{subLista.Titulo}}</a>
                                            </u1>
                                        </ul>
                                    </li>
                                </div>
                                <div class="uk-panel-space">
                                </div>
                            </div>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="uk-width-1-4">
        <div class="uk-panel-space">
        </div>
        <div class="uk-align-center" style="width: 300px;">
            <div class="uk-panel uk-panel-box uk-vertical-align-middle uk-text-center">
                <img class="uk-border-circle" width="120" height="120"
                     ng-src="{{ImgActiva}}"
                     alt="Si ves esto... tu url no contiene una imagen compatible!">
                <input type="button" class="uk-width-1-1 uk-button uk-button-success uk-active"
                       value="{{NombreActivo}}"  data-uk-modal="{target:'#my-id'}">
                <h5>{{CargoActivo}}</h5>
                <h5>{{CarreraActivo}}</h5>
                <h5>{{CampusActivo}}</h5>
            </div>
        </div>
    </div>
</div>

<!-- This is the modal -->
<div id="my-id" class="uk-modal">
    <div class="uk-modal-dialog">
        <a class="uk-modal-close uk-close"></a>

        <form class="uk-form">

            <fieldset data-uk-margin>
                <legend>Si quieres cambiar tu foto de perfil, ingresa la url de la imagen:</legend>
                <input type="text" placeholder="Url" ng-model = "imagen">

                <button class="uk-button uk-modal-close" ng-click="cambiar()">Aceptar</button>

            </fieldset>

        </form>
    </div>
</div>